@import "../../styles/colors.module.scss";

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;

  height: auto;
  width: 100%;
  top: 0;
  z-index: 1;

  .header-logo {
    position: relative;
    width: 130px;
    height: 120px;

    > img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      cursor: pointer;
    }

    @media (max-width: 400px) {
      width: 90px;
      height: 90px;
    }
  }

  .header-title-btn {
    display: flex;
    align-items: center;
  }

  .header-sidebar-btn {
    color: $secondary;
  }

  .date-span {
    color: white;
    font-size: 13px;
    margin-right: 0.6rem;
  }

  .header-title {
    cursor: pointer;
    color: $header-title;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 600;
  }

  .header-avatar {
    margin-left: auto;
    cursor: pointer;
  }
}
